.commentContainer {
  margin-top: 20px;
  .commentWrapper {
    padding: 0 15px;
    display: flex;
    align-items: center;
    .commentLeft {
      margin-right: 15px;
    }
    .commentRight {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .commentRightTop {
        display: flex;
        align-items: center;
        .commentRightUsername {
          font-weight: 500;
          font-size: 0.9rem;
        }
        .commentRightDate {
          font-weight: 300;
          margin-left: 10px;
          font-size: 0.7rem;
        }
      }
      .commentRightBottom {
        .commentRightDesc {
          font-size: 0.8rem;
        }
      }
    }
  }
}
