.friendsListContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.596);

  .friendsListWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .friendsListBox {
      overflow-y: auto;
      padding: 20px;
      width: 320px;
      height: 450px;
      border-radius: 5px;
      background-color: Ivory;

      .friendsListBoxTop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .friendsListBoxTopTitle {
          margin-top: 10px;
          font-size: 1.5rem;
          font-weight: 500;
        }
        .friendsListBoxTopIcon {
          font-size: 1.9rem;
          color: var(--main-color);
          cursor: pointer;
        }
      }
      .friendsListBoxHr {
        margin-top: 20px;
        color: var(--main-color);
        opacity: 0.2;
      }
      .friendsListBoxBottom {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
