.searchBoxContainer {
  position: relative;
  .searchBoxWrapper {
    display: flex;
    align-items: center;
    .searchBoxIcon {
      font-size: 2rem;
      color: gray;
      margin-right: 10px;
    }
    .searchBoxInput {
      border: none;
      padding: 5px;
      width: 70%;

      &:focus {
        outline: none;
      }
    }
    .searchBoxList {
      padding: 5px;
      width: 70%;
      background-color: Ivory;
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 30px;
      left: 40px;
      z-index: 1;
      border: 1px solid rgba(220, 20, 60, 0.26);

      .searchBoxListError {
        font-size: 1rem;
      }
    }
  }
}
