.feedContainer {
  flex: 5;
  height: 100%;
  margin-top: 20px;
  padding: 10px;
  .feedWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .feedTitle {
      margin: 10px 20px;
      align-self: flex-start;
      color: black;
      font-weight: bold;
      font-size: 2rem;
    }
    .feedPosts {
      width: 100%;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
