.shareCommentContainer {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 15px;

  .shareCommentWrapper {
    padding: 0 13px;
    display: flex;
    align-items: center;

    .shareCommentInput {
      margin-left: 20px;
      border: none;
      padding: 5px;
      width: 85%;
      background: transparent;

      &:focus {
        outline: none;
      }
    }
    .shareCommentSendButton {
      color: var(--main-color);
      cursor: pointer;
    }
  }
}
