.friendContainer {
  .friendWrapper {
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    .friendImg {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    .friendInformation {
      display: flex;
      flex-direction: column;
      .friendUsername {
        margin-left: 15px;
        font-weight: 500;
        font-size: 0.9rem;

        @media only screen and (max-width: 480px) {
          font-size: 0.8rem;
        }
      }
      .friendCity {
        margin-left: 15px;
        font-weight: 300;
        font-size: 0.8rem;
        margin-top: 3px;

        @media only screen and (max-width: 480px) {
          font-size: 0.7rem;
          margin-top: 0;
        }
      }
    }
  }
}
