.passwordChangeBoxContainer {
  display: flex;

  .passwordChangeBoxWrapper {
    .passwordChangeBoxSubtitle {
      margin-top: 40px;
      font-size: 1.3rem;
    }
    .passwordChangeBoxForm {
      position: relative;
      height: 300px;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      font-weight: 300;

      .passwordChangeBoxFormItem {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .passwordChangeBoxFormItemLabel {
          font-size: 1rem;
        }
        .passwordChangeBoxFormItemInput {
          padding: 5px;
          border-radius: 2px;
          border: 1px solid rgba(0, 0, 0, 0.5);
          background: white;
          margin-left: 30px;
          width: 180px;
        }
      }

      .passwordChangeBoxFormButton {
        position: absolute;
        bottom: 25px;
        width: 30%;
        padding: 10px;
        background-color: var(--main-color);
        font-weight: 500;
        color: white;
        border-radius: 5px;
        font-size: 0.8rem;
        border: none;
        margin-top: 70px;
      }
      .passwordChangeBoxFormResult {
        color: red;
        margin-top: 40px;
      }
    }
  }
}
