.editContainer {
  .editWrapper {
    .editContent {
      display: flex;
      align-items: center;
      justify-content: center;
      display: flex;
      align-items: center;
      margin-top: 25px;

      @media only screen and (max-width: 980px) {
        margin-top: 70px;
      }
      @media only screen and (max-width: 480px) {
        margin-top: 45px;
      }

      .editContentLeft {
        flex: 2;
      }

      .editContentRight {
        padding: 0 150px;
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: 5;

        .editContentRightTitle {
          font-weight: bold;
          width: 100%;
          font-size: 1.7rem;
          color: var(--main-color);
        }

        .editContentRightItems {
          display: flex;
          align-items: center;
          justify-content: space-between;

          @media only screen and (max-width: 980px) {
            flex-wrap: wrap;
          }
          @media only screen and (max-width: 480px) {
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}
