.navbarContainer {
  height: 70px;
  .navbarWrapper {
    padding: 15px 20px;
    display: flex;
    align-items: center;

    color: var(--main-color);
    font-size: 1.3rem;

    @media only screen and (max-width: 480px) {
      padding: 15px 10px;
    }

    .navbarLeft {
      display: flex;
      flex: 2;

      .navbarLeftTitle {
        color: var(--main-color);
      }
    }
    .navbarCenter {
      flex: 5;

      @media only screen and (max-width: 480px) {
        flex: 7;
      }
    }
    .navbarRight {
      margin-right: 10px;
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .navbarRightItem {
        display: flex;
        align-items: center;
        margin: 5px;
        .navbarIcon {
          font-size: 1.9rem;

          @media only screen and (max-width: 480px) {
            display: none;
          }
        }
        .navbarRightMenu {
          margin: 5px;
          display: flex;
          align-items: center;
          position: relative;

          @media only screen and (max-width: 480px) {
            margin: 0;
          }
          .navbarRightMenuOptions {
            font-size: 0.8rem;
            display: flex;
            flex-direction: column;
            display: none;
            position: absolute;
            z-index: 3;
            right: 0px;
          }

          &:hover {
            .navbarRightMenuOptions {
              padding-top: 15px;
              margin-top: 60px;
              display: flex;
              flex-direction: column;

              @media only screen and (max-width: 480px) {
                margin-top: 80px;
              }

              .navbarRightMenuOption {
                background-color: white;
                display: flex;
                align-items: center;
                cursor: pointer;

                .navbarRightMenuOptionIcon {
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}
